sounddevice==0.4.6
soundfile==0.12.1
numpy==1.26.4
keyboard==0.13.5
faster-whisper==1.0.3
comtypes==1.2.1
pycaw==20230407
mss==9.0.1
requests==2.32.3
pywin32==306
psutil==5.9.8
pymorphy2==0.9.1
pyperclip==1.8.2
PyQt6==6.8.0
WMI==1.5.1
